HOST=yamtrack.example.es
PORT=8000

DB=./yamtrack/db
REDIS_DATA=./yamtrack/redis

URLS=https://yamtrack.example.es
TZ=Europe/Madrid
SECRET=$(base64 /dev/urandom | head -c50)
REDIS_URL=redis://redis:6379

HEALTHCHECK_CELERY_PING_TIMEOUT=10
