HOST=tandoor.example.es
PORT=80

STATIC_DATA=./static-data
MEDIA_DATA=./media
POSTGRES_DATA=./postgres

SECRET_KEY=

TZ=Europe/Berlin

ALLOWED_HOSTS=recipes.mydomain.com

DB_ENGINE=django.db.backends.postgresql
POSTGRES_HOST=db_recipes
POSTGRES_DB=djangodb
POSTGRES_PORT=5432
POSTGRES_USER=djangouser
POSTGRES_PASSWORD=
